{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/calender.css' %}">
    <h1 class="title">today is {{ current_date }}</h1>
    

    <a href="{% url 'date_difference' %}">date difference</a>
    <a href="{% url 'age_calculator' %}">age calculator</a>
    <a href="{% url 'date_conversion' %}">date conversion</a>
    <center>
      {{ current_cal|safe }}
    </center>

    <div class="clock">
        <h1>{{clock}}</h1>
    </div>

</body>
</html>

<script>
    function getTime(){
        document.getElementById('string_clock').submit();
    }
setInterval(getTime, 1000);
</script>