<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'current_calendar' %}">home page</a>
<form class="col-sm-4 m-4" method="post">
    {% csrf_token %}
    {{form}}
    Total Days:
     <input type="submit" class="form-control" value="years: {{year}} months: {{month}} days:{{day}}">
     <input type="submit" class="form-control" value="difference in days {{date_days}}">

    <input type="submit" class="btn btn-success" value="submit">
</form>
</body>
</html>