{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date Difference</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/date_difference.css' %}">
<a class="home" href="{% url 'current_calendar' %}">home page</a>
<hr>
<h1 class="title">date difference</h1> 
<form class="main" method="post">
    {% csrf_token %}
    <b class="date">{{form}}</b>
    Total Days:
    <br>
     <input type="submit" class="answer" value="years: {{year}} months: {{month}} days:{{day}}">
     <input type="submit" class="answer" value="difference in days {{date_days}}">
    <br>
    <input type="submit" class="input" value="submit">
</form>
</body>
</html>