<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>age calculator</title>
</head>
<body>
<a href="{% url 'current_calendar' %}">home page</a>
<h1>age calculator</h1>
<form method="post">
    {% csrf_token %}
    {{form}}
    age:
     <input type="submit" class="form-control" value="years:{{year}} months:{{month}} days:{{day}}">
     <input type="submit" class="form-control" value="age in days: {{age_days}}">
    <input type="submit" class="btn btn-success" value="submit">
</form>
</body>
</html>