{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>age calculator</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/age_calculator.css' %}">
<h1 class="title">age calculator</h1>
<form class="main" method="post">
    {% csrf_token %}
    <b class="age">{{form}}</b>
    <br>
     <input type="submit" class="answer" value="years:{{year}} months:{{month}} days:{{day}}">
     <input type="submit" class="answer" value="age in days: {{age_days}}">
    <br>
    <input type="submit" class="input" value="submit">
</form>
</body>
</html>