{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>international_to_persian</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/convert.css' %}">
<a class="home" href="{% url 'date_conversion' %}">go back</a>
<hr>
<h1 class="title">international to persian</h1>
<form  class="main" method="post">
    {% csrf_token %}
    {{form_persian}}
    <input type="submit" class="input" value="submit">
    <input type="submit" class="answer" value="{{persian_to_international}}">
</form>
</body>
</html>