body{
    color: whitesmoke;
    background-color: rgb(44, 44, 44);
    font-family: sans-serif,arial;
}
*{
    box-sizing: border-box;
}
.title{
    text-align: center;
    font-size: 70px;
}
.con{
    text-align: center;
    align-items: center;
}
.con a{
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(70, 70, 70);
    border-radius: 3px;
    margin: 10px;
    border-color: rgb(30, 30, 30);
    display: block;
    color: whitesmoke;
    font-size: 40px;
    text-decoration: none;
    font-family: sans-serif,Arial;
    padding: 5px;
}
.con a:hover{
    color: whitesmoke;
    font-size: 40px;
    text-decoration: underline;
}
.home{
    color: whitesmoke;
    font-size: 25px;
}
.home:hover{
    color: whitesmoke;
    text-decoration: underline;
}